<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tech Blog</title>
         <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@1.x/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link href="../../public/src/output.css" type="text/css" />
    </head>

    <nav class="bg-blue-900 text-white items-center justify-between flex p-10 ">
        <h1 class="text-3xl">Tech Blog</h1>
        <ul class="flex text-sm">
            <li class="mx-3">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="mx-3">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="mx-3">
                <a class="nav-link" id="logout" href="/logout">Logout</a>
                <script src="/js/logout.js"></script>
            </li>
        </ul>
    </nav>
    <div>
        <body class="flex flex-col">
            <div>
                <a class="bg-blue-300 px-2 rounded-sm" href="/profile/new-post">New Post</a>
            </div>
            {{{body}}}
        </body>
    </div>
</html>