<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tech Blog</title>
    </head>

    <nav>
        <h1>Tech Blog</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div>
        <body>
            <div>
                <a href="/profile/new-post">New Post</a>
            </div>
            {{{body}}}
        </body>
    </div>
</html>